
body {
      margin-left: 150px;
    margin-right: 150px;
  background: #eee; /* fallback for old browsers */
     
}

#header{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: plum;
    color: #ffffff;
    
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#footer{
    font-size: 25px;
    
    background-color: #333;
    color: wheat;
    padding: 15px;
    text-align: center;
   
}
#content{
    height: 400px;
    background-color: white;
}